@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@100;300;400;500;600;700;800&display=swap');
@import url('https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css');

:root{
    --primary-color: #232C50;
    --second-color: #F3603C;
    --terciary-color: #B3B2B7;
    --four-color: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body{
    font-family: 'Be Vietnam', sans-serif;
    counter-reset: section;
}

.container{
    margin: 0 auto;
    width: 1440px;
}

.header{
    align-content: center;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    height: 5rem;
    justify-content: space-evenly;
    width: 100%;
}
.hamburguer-nav{
    display: none;
}
.nav-items{
    display: inline;
    padding: 0.5rem 1rem;
    margin: 0 0.3rem;
}

.nav-items a{
    color: var(--primary-color);
    text-decoration: none;
}

.nav-items:hover{
    border-bottom: 2px solid var(--second-color);
}

.btn-get{
    background-color: var(--second-color);
    border-radius: 1.9rem;
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.25);
    color: var(--four-color);   
    text-decoration: none;
    padding: 0.4rem 1.5rem;
}

.btn-get:hover{
    background-color: var(--four-color);
    border: 1px solid var(--second-color);
    color: var(--second-color);
}

.slider{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 32rem;
    justify-content: space-evenly;
    margin: 2rem;
}

.slider-text{
    width: 38%;
}

.slider-text h1{
    color: var(--primary-color);
    font-size: 3rem;
    padding-bottom: 1rem;
}

.slider-text p{
    text-align: justify;
    padding: 0 1rem 2.5rem 0;
}

.slider-text a{
    background-color: var(--second-color);
    border-radius: 5rem;
    box-shadow: 0 0.3em 0.3em #f3613c6c;
    color: var(--four-color);
    text-align: justify;
    text-decoration: none;
    padding: 0.5rem 2rem;
}

.slider-text a:hover{
    background-color: var(--four-color);
    border: 1px solid var(--second-color);
    color: var(--second-color);
}

.inform{
    margin: 7rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.inform-text{
    width: 40%;
}

.inform-text h2{
    color: var(--primary-color);
    font-size: 2rem;
}

.inform-text p{
    font-size: 1rem;
    padding: 1rem 10rem 0 0;
}

.inform-desc{
    width: 40%;
}

.cl-title{
    color: var(--primary-color);
}

.inform-desc h4::before{
    background-color: var(--second-color);
    border-radius: 2rem;
    color: var(--four-color);
    counter-increment: section;
    content: "0" counter(section);
    margin-right: 2rem;
    padding: 0.3rem 1rem;
}

.inform-desc p{
    padding: 1rem 0 1rem 5.5rem;
    color: var(--terciary-color);
}

.wws-text{
    color: var(--primary-color) ;
    font-size: 2rem;
    text-align: center;
    margin: 2rem auto;
}

.whatwesay{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4rem auto;
    width: 100%;
}

.card{
    background-color: #FAFAFA;
    height: 15rem;
    text-align: center;
    margin-top: 2.5rem;
    width: 30%;
}

.card img{
    z-index: 2;
    position: relative;
    bottom: 3rem;
    width: 6rem;
}

.card h3{
    color: var(--primary-color);
    padding-bottom: 1rem;
    margin-top: -2rem;
}

.card p{
    color: var(--terciary-color);
    padding-bottom: 1rem;
}

.slider-mobile{
    display: none;
}

.btn-center{
    margin: 0 45%;
}

footer{
    margin-top: 10rem;
}

.susb{
    align-items: center;
    background-color: var(--second-color);
    display: flex;
    height: 10rem;
    justify-content: space-around;
}

.susb-text{
    color: var(--four-color);
    font-size: 1.5rem;
    width: 30%;
}

.btn-get-white{
    background-color: var(--four-color);
    border-radius: 1.9rem;
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.25);
    color: var(--second-color);   
    text-decoration: none;
    padding: 0.4rem 1.5rem;
}

.btn-get-white:hover{
    background-color: var(--second-color);
    border: 1px solid var(--four-color);
    color: var(--four-color);   
}

.copy{
    align-items: center;
    background-color: var(--primary-color);
    display: flex;
    height: 12rem;
    justify-content: center;
}

.copy div{
    color: var(--four-color);
    height: 100%;
}

.copy div a{
    color: var(--four-color);
}

.copy-d-div{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.copy-d-div div{
    align-items: center;
    display: flex;
    height: 45%;
    justify-content: center;
}

.icons{
    font-size: 1.2rem;
    padding: 0.5rem;
}

.div-list-footer{
    align-items: center;
    display: flex;
    justify-content: center;
}

.div-list-footer div{
    width: 10rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}

.list-footer{
    padding: 0.4rem;
}

.list-footer a{
    color: var(--four-color);
    text-decoration: none;
}

.form-footer{
    display: flex;
    flex-flow: column nowrap;
    width: 25rem;
}

.formulario{
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.inp-form{
    border: none;
    border-radius: 2rem;
    color: var(--terciary-color);
    padding: 0.6rem 0 0.6rem 0.6rem;
    width: 15rem;
}

.btn-form{
    background-color: var(--second-color);
    border: none;
    border-radius: 2rem;
    color: var(--four-color);
    padding: 0.6rem;
    margin-left: 1rem;
    width: 5rem;
}

.btn-form:hover{
    outline: 2px solid var(--second-color);
    outline-offset: 2px;
    cursor: pointer;
}

.copyright{
    align-items: center;
    display: flex;
    justify-content: flex-end;
}
.copy-mobile{
    background-color: none;
    bottom: 3rem;
    color: var(--terciary-color);
    font-size: 0.8rem;
    position: relative;
    text-align: center;
    left: 21rem;
    width: 100%;
}

@media (max-width: 375px){
    .container{
        width: 100%;
    }
    .header{
        flex-flow: row nowrap;
        height: 10rem;      
        justify-content: space-between;
        padding: 1.8rem;
    }
    .div-logo{
        align-content: center;
        display: flex;
        justify-content: center;
    }
    .hamburguer-nav{
        display: block;
    }
    .hamburguer-nav img{
        cursor: pointer;
        height: 1.5rem;
    }
    .div-nav{
        display: none;
    }
    .btn-get-div{
        display: none;
    }
    .slider{
        flex-flow: column-reverse nowrap;
        height: 40rem;
        justify-content: center;
        text-align: center;
    }
    .slider p{
        padding: 1rem 1rem 2rem 1rem;
        text-align: center;
    }
    .slider-img{
        height: 20rem;
    }
    .slider-text{
        width: 100%;
    }
    .slider-text h1{
        font-size: 2rem;
    }
    .inform{
        align-items: center;
        flex-flow: column nowrap;
        justify-content: center;
    }
    .inform-text{
        text-align: center;
        width: 100%;
    }
    .inform-text p{
        padding: 1rem 1rem 2rem 1rem;
        text-align: center;
    }
    .first-text{
        background-color: #f3613c85;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        margin-left: 1rem;
    }
    .inform-desc h4::before{
        padding: 0rem 1rem 0rem 1rem;
        text-align: center;
        margin-right: 1.2rem;
    }
    .cl-title{
        background-color: #f3613c85;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        margin-left: 1rem;
    }
    .slider-mobile{
        color: var(--second-color);
        display: block;
        font-size: 5rem;
        text-align: center;
    }
    .inform-desc{
        width: 100%;
    }
    .inform-desc p{
        padding: 1rem;
    }
    .whatwesay{
        flex-flow: column nowrap;
        margin: 0px;
    }
    .card{
        width: 100%;
    }
    .anisha,.richard{
        display: none;
    }
    .btn-center{
        margin: 0 34%;
    }
    .susb{
        flex-flow: column nowrap;
        height: 20rem;
        justify-content: space-evenly;
    }
    .susb-text{
        font-size: 1.5rem;
        text-align: center;
        width: 100%;
    }
    .copy{
        flex-flow: column-reverse nowrap;
        height: auto;
    }
    .copy div{
        margin: 1rem auto;
        justify-content: center;
    }
    .copy-d-div{
        flex-flow: column-reverse nowrap;
        width: 100%;
    }
    .div-list-footer{
        width: 100%;
    }
    .form-footer{
        width: 100%;
    }
    .inp-form{
        width: 13rem;
    }
    .btn-form:hover{
        cursor: pointer;
        padding: 0.4rem;
        outline: 2px solid var(--second-color);
        outline-offset: 2px;
    }
    a{
        text-decoration: none;
        color: var(--four-color);
    }
    .icons{
        font-size: 2.5rem;
    }
    .copyright{
        display: none;
    }
    .copy-mobile{
        background-color: var(--primary-color);
        color: var(--terciary-color);
        display: block;
        font-size: 0.8rem;
        padding-bottom: 1rem;
        position: static;
        text-align: center;
    }
}